/*body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: #f8f8f8;
  color: #333;
}

h1 {
  font-size: 36px;
  color: #6a1b9a; /* un lila bonito */
}

nav a {
  font-size: 22px;
  text-decoration: none;
  color: #4a148c;
  margin-right: 15px;
}

nav a:hover {
  color: #d8b4e2;
} Scss Document */

